* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  background-color: #1f2937;
}

.navBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.headerLinks ul a {
  text-decoration: none;
  color: #e5e7eb;
}

.headerLinks ul {
  list-style-type: none;
  display: flex;
  gap: 15px;
  font-size: 18px;
  color: #e5e7eb;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px;
    background-color: #1f2937;
    padding: 100px 200px;
}

.hero h1 {
    font-size: 48px;
    font-weight: "extra bold";
    color: #f9faf8;
}

.hero p {
    font-size: 18px;
    color: #e5e7eb;
}

.hero .leftHero {
    /* border: solid white; */
    flex-basis: 100%;
    width: 50vw;
}

.hero .image {
    /* border: solid white; */
    width: 50vw;
    padding: 100px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    background-color: grey;
}

.hero button {
    display: flex;
    justify-content: center;
    background-color: #3882f6;
    border-radius: 10px;
    padding: 5px 20px;
}

.hero button a {
    text-decoration: none;
    color: #f9faf8;
    font-weight: bold;
}

.info {
    display: flex;
    flex-direction: column;
    padding: 0px 200px;
}

.info h1 {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}

.info .subInfo {
    display: flex;
    justify-content: space-around;
}

.info .subInfo .image {
    border: solid blue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px 50px;
    height: 200px;
    width: 200px;
    border-radius: 15px;
}

.info .subInfo .first,
.second,
.third,
.fourth {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    margin: 0px 50px;
    text-align: center;
}

